<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="styleEdit.css">
</head>
<body>
    <header>
        <h1>EDIT POST</h1>
    </header>
    <section class="pembatas"></section>
    <div class="container">
        <div class="pics">
            <img src="squids foto.jpg" width="300px" height="300px">
        <input type="text" placeholder="Edit caption..." name="caption">
        </div>
        <section class="pembatas"></section>        
        <div class="tag">
            <h1 class="tagppl"><strong>TAG PEOPLE</strong></h1>
        </div>
    </div>
</body>
</html>