Body {  
    /* background-color: pink;   */
    width: 430px;
    height: 932px;
}  

h1{
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    padding-top: 10px;
}

div.pic{
    text-align: center;
}
img{
    border-radius: 150px;
}
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 7px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 1px solid gray;   
    box-sizing: border-box;   
    }  
button:hover {   
    opacity: 0.7;   
    }   
label{
    text-align: left;
    float: left;

}
.container {   
    padding: 25px;   
    display: table-cell; 
    text-align: center; 
    vertical-align: middle; 
    /* border: 2px solid black;  */
    }   