<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="styleRegis.css">
</head>
<body>
    <form>  
        <div class="container">
            <center>  <h1> INSSSTA </h1> </center> 
            <p>Sign up to see photo and videos </p> 
            <p> from your friends.</p>    

            <input type="text" placeholder="Email" name="email" required>  
            <input type="text" placeholder="Fullname" name="fullname" required>  
            <input type="text" placeholder="Username" name="username" required>  
            <input type="password" placeholder="password" name="password" required> 
            <button type="submit">Sign Up</button>  

            <p>By signing up, you agree to our</p>
            <p>Terms, Data Policy and Cookies</p>
            <p>Policy</p>
            <br>
            <p>Have an account? <a href="login.html">Login</a></p>
        </div>   
    </form>   
</body>
</html>