Body {  
    /* background-color: pink;   */
    width: 430px;
    height: 932px;
}  

h1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    padding-top: 50px;
}

a{
    color: #5CA2E2;
    text-decoration: solid;
    text-align: right;
}

button {   
    background-color: #5CA2E2;   
    width: 100%;  
    color: white;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;   
    }   

input[type=text], input[type=password] {   
    width: 100%;   
    margin: 7px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 1px solid gray;   
    box-sizing: border-box;   
    }  
button:hover {   
    opacity: 0.7;   
    }   
    
.container {   
    padding: 25px;   
    display: table-cell; 
    text-align: center; 
    vertical-align: middle; 
    /* border: 2px solid black;  */
    }   